{% extends "accounts/base.html" %}
{% block content %}
<h3>Add Leave</h3>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Employee</label>
    <select name="employee" class="form-control">
      {% for emp in employees %}
        <option value="{{ emp.id }}">{{ emp.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Reason</label>
    <input type="text" name="reason" class="form-control mb-2" placeholder="Reason">
  </div>

  <button class="btn btn-success">Submit</button>
</form>

{% endblock %}
