{% extends "accounts/base.html" %}
{% block content %}
<h3>Add Salary</h3>

<form method="post">
  {% csrf_token %}
  
  <div class="mb-3">
    <label class="form-label">Employee</label>
    <select name="employee" class="form-control">
      {% for emp in employees %}
        <option value="{{ emp.id }}">{{ emp.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Amount</label>
    <input type="number" name="amount" class="form-control mb-2" placeholder="Amount">
  </div>

  <button class="btn btn-success">Save</button>
</form>
{% endblock %}
